@import '../../../assets/css/_variables.scss';

.style-subtitle {
   text-transform: uppercase;
}

.container-personaldata {
  background-color: $color_lightgrey;
  color: $color_grey;
  margin-top: -15%;
  .container {
    h2 {
      color: $color_grey;
    }

    .form-group {
      .form-control {
        border: transparent;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 10px -10px rgba(112,112,112,0.65);
        -moz-box-shadow: 10px 10px 10px -10px rgba(112,112,112,0.65);
        box-shadow: 10px 10px 10px -10px rgba(112,112,112,0.65);
      }

      .form-control::placeholder {
        font-size: 17px;
        color: $color_orange_light;
        padding-left: 15px;
      }

      button {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      }
    }

    p {
      color: $color_grey;
      line-height: 1.1;
    }

    table {
      th {
        color: $color_orange_dark;
        font-size: 1.7rem;
      }
      th,td {
        padding: 1rem;
      }
      .text-tarifa {
        color: $color_orange_dark !important;
      }

      label {
        padding-bottom: 1rem;
      }
    }

    button {
      background-color: $color_orange_light;
      width: 150px;
    }
  }
}

.container-contact {
  padding-top: 6%;
  h2{
    padding-bottom: 10px;
  }
}

@media (max-width: 760px) {

  .container-personaldata {
    .text-data {
      font-size: 20px !important;
    }

    .tabla {
      padding: 0;

      thead {
        th {
        padding: 0.4rem;
        font-size: 0.8rem;
        }
      }

      h5 {
        font-size: 0.7rem;
      }
      tbody {
        td {
          font-size: 0.6rem;
          padding:0.4rem 0.6rem;
        }
      }
    }

    .form-group {
      .mt {
        margin-top: 1rem;
      }

      .form-control::placeholder {
        font-size: 0.6rem;
        padding-left: 0;
      }
    }

    h4 {
      font-size: 18px !important;
    }

    p, i {
      font-size: 15px;
    }

    h6 {
      font-size: 16px !important;
    }

    a {
      font-size: 13px !important;
    }

    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
      -webkit-box-shadow: 4px 3px 14px -5px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 3px 14px -5px rgba(0,0,0,0.75);
      box-shadow: 4px 3px 14px -5px rgba(0,0,0,0.75);
    }

    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 10px;
      height: 10px;
      background: #e05701;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    .conditions {
      p {
        font-size: 14px;
      }
    }
  }

  .hr-text-header {
    font-size: 20px !important;
  }
}
