
<ng4-loading-spinner> </ng4-loading-spinner>
<section class="welcome">
  <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" [src]="reservationView?.EVENT.urlbackgroundimg" alt="First slide" style="position:relative;">
        <div class="text text-center">
          <h1 class="text-white font-lg text-uppercase">{{reservationView?.EVENT.reservationtitle}}</h1>
        </div>
      </div>
    </div>
  </div>
  <!--<button (click)="scroll(target)">aqui botyon</button>-->
  <form>
    <section class="container-personaldata div-diagonal">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">
            <h2 class="text-data font-lg-1 style-subtitle">{{reservationView?.EVENT.personalinformation}}</h2>
          </div>
          <div class="col-md-12 text-left">
            <br />
          </div>
          <div class="col-md-12">
            <div class="form-row form-group">
              <div class="col-md-6">
                <div class="d-flex">
                  <input type="text" class="form-control" name="ruc" id="ruc"
                         [(ngModel)]="newReservation.ruc"
                         placeholder="RUC"
                         [maxLength]="10" (keypress)="numberOnly($event)"
                         (keydown.backspace)="numberOnly($event)">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!rucValid" class="text-danger">
                  RUC Obligatorio
                </div>
              </div>

              <div class="col-md-6  mt">
                <div class="d-flex">
                  <input type="text" name="socialname" id="socialname"
                         [(ngModel)]="newReservation.socialname"
                         class="form-control" placeholder="Razón social"
                         [ngModelOptions]="{standalone: true}" maxlength="50"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!socialnameValid" class="text-danger">
                  Razón Social obligatorio
                </div>
              </div>
            </div>

            <div class="form-row form-group">
              <div class="col-md-6">
                <div class="d-flex">
                  <input type="text" name="area" id="rubro"
                         [(ngModel)]="newReservation.rubro" class="form-control"
                         placeholder="Rubro"
                         [ngModelOptions]="{standalone: true}" maxlength="50"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!rubroValid" class="text-danger">
                  Rubro requerido
                </div>
              </div>

              <div class="col-md-6 mt">
                <div class="d-flex">
                  <input type="text" name="webpage" id="webpage"
                         [(ngModel)]="newReservation.webpage" class="form-control"
                         placeholder="Página Web" [ngModelOptions]="{standalone: true}" maxlength="50"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
              </div>
              <div *ngIf="!webpageValid" class="text-danger">
                Página Web requerido
              </div>
            </div>

            <div class="form-row form-group">
              <div class="col-md-12">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="address" id="address"
                         [(ngModel)]="newReservation.address"
                         placeholder="Dirección" maxlength="1000"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!addressValid" class="text-danger">
                  Dirección requerido
                </div>
              </div>

            </div>
            <div class="form-row form-group">
              <div class="col-md-6">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="city" id="city"
                         [(ngModel)]="newReservation.city"
                         placeholder="Ciudad" maxlength="1000"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!cityValid" class="text-danger">
                  Ciudad requerido
                </div>
              </div>
              <div class="col-md-6 mt">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="country" id="country"
                         [(ngModel)]="newReservation.country"
                         placeholder="País" maxlength="50"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!countryValid" class="text-danger">
                  País requerido
                </div>
              </div>
            </div>

            <div class="form-row form-group">
              <div class="col-md-6">
                <div class="d-flex">
                  <input type="email" class="form-control" name="email"
                         id="email"
                         [(ngModel)]="newReservation.email"
                         placeholder="Email"
                         maxlength="50"
                         pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,3}$"
                         ngModel #emailref="ngModel"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!emailValid" class="text-danger text-left">
                  Email requerido
                </div>
                <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="text-danger">
                  <div [hidden]="!emailref.errors?.pattern" class="text-left">
                    Email inválido
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="charge" id="charge"
                         [(ngModel)]="newReservation.charge"
                         placeholder="Cargo" maxlength="60"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!chargeValid" class="text-danger">
                  Cargo requerido
                </div>
              </div>
            </div>

            <div class="form-row form-group">
              <div class="col-md-6">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="legal" id="legal"
                         [(ngModel)]="newReservation.legal"
                         placeholder="Representante Legal" maxlength="60"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!legalValid" class="text-danger">
                  Representante legal requerido
                </div>

              </div>
              <div class="col-md-6 mt">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="exhibitor" id="exhibitor"
                         [(ngModel)]="newReservation.exhibitor"
                         placeholder="Responsable de exhibición" maxlength="60"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!exhibitorValid" class="text-danger">
                  Responsable de exhibición requerido
                </div>
              </div>

            </div>
            <div class="form-row form-group">
              <div class="col-md-6">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="phone" id="phone"
                         [(ngModel)]="newReservation.phone"
                         placeholder="Telefono" maxlength="20"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!phoneValid" class="text-danger">
                  Telefono requerido
                </div>
              </div>

              <div class="col-md-6 mt">
                <div class="d-flex">
                  <input type="text" class="form-control"
                         name="anexo" id="anexo"
                         [(ngModel)]="newReservation.anexo"
                         placeholder="Anexo" maxlength="20"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!anexoValid" class="text-danger">
                  Anexo requerido
                </div>
              </div>
            </div>

            <div class="form-row form-group">

              <div class="col-md-6">
                <div class="d-flex">
                  <input type="text" class="form-control" name="standname" id="standname"
                         [(ngModel)]="newReservation.standname"
                         placeholder="Nombre de colocar en el friso del stand" maxlength="150"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!standnameValid" class="text-danger">
                  Nombre a colocar en el stand requerido
                </div>
              </div>

              <div class="col-md-6 mt">
                <div class="d-flex">
                  <input type="text" class="form-control" name="detail" id="detail"
                         [(ngModel)]="newReservation.detail"
                         placeholder="Productos y Servicios a exhibir" maxlength="150"
                         oninput="this.value = this.value.toUpperCase()">
                  <label class="text-danger pl-1">*</label>
                </div>
                <div *ngIf="!detailValid" class="text-danger">
                  Productos y Servicios requerido
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row pt-4">
          <div class="col-md-6 mb-5">
            <table class="tabla" *ngIf="mapView?.StandPrices.length > 0" width="100%">
              <thead align="center">
                <tr>
                  <th> Category </th>
                  <th> {{date1Str}} </th>
                  <th> {{date2Str}} </th>
                </tr>
              </thead>
              <tbody align="center">
                <tr *ngFor="let item of mapView?.StandPrices;let i = index">
                  <td width="20%" class="text-center" [ngStyle]="{'background-color': item.Color}">
                    <h5 class="text-white">{{item.Name}}</h5>
                  </td>
                  <td width="40%">{{item.Coin1+" "+item.Price1}}</td>
                  <td width="40%">{{item.Coin2+" "+item.Price2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <div class="col-md-6 d-flex flex-column justify-content-center">
            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="form-control" name="number" id="number"
                       [(ngModel)]="newReservation.number"
                       placeholder="Cantidad de módulos" maxlength="150">
                <div *ngIf="!numberValid" class="text-danger">
                  Cantidad de Modulos requerido
                </div>
              </div>
              <div class="col-md-12 mt-3">
                <input type="text" class="form-control" name="numberplan" id="numberplan"
                       [(ngModel)]="newReservation.numberplan"
                       placeholder="Números de Módulos de acuerdo al plano" maxlength="150">
                <div *ngIf="!numberplanValid" class="text-danger">
                  Números de Módulos de acuerdo al plano requerido
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row pb-5">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <p class="text-left">
              -Banco del Crédito del Perú<br/>
              CTA CTE: USD 194-1607123-1-75<br />
              Código Interbancario: 002-194-001607123175-93<br />
              Código Swift: BCPLPEPL
              <br/>-Banco Continental - Lima, Perú<br />
              CTA CTE: USD USD 0011-0791-0100007993<br />
              Código Interbancario: 011-791-000100007993-17<br />
              Código Swift: BCPLPEPL
            </p>
            <div class="d-flex justify-content-end align-items-end pt-4">
              <button type="submit" (click)="saveReservation()" [disabled]="flagButtonSave" class="btn pull-right text-white">Registrar</button>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>

    </section>
  </form>


  <section class="container-contact style-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2 class="text-white pb-10 font-lg-1 style-subtitle">{{reservationView?.EVENT.contacttitle}}</h2>
          <br>
        </div>
        <div class="col-md-5">
          <p class="text-white">
            <i class="fa fa-phone mr-2"></i> {{reservationView?.EVENT.contactphone}}
          </p>
          <p class="text-white">
            <i class="fa fa-envelope mr-2"></i> {{reservationView?.EVENT.contact}}
          </p>
          <p class="text-white">
            <i class="fa fa-map-marker mr-2"></i>{{reservationView?.EVENT.contactplace}}
          </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <form>
            <div class="form-row form-group">
              <div class="col">

                <input type="text" class="form-control" [placeholder]="reservationView?.EVENT.placeholder.strName"
                       [(ngModel)]="contact.name" name="name" oninput="this.value = this.value.toUpperCase()"
                       [ngModelOptions]="{standalone: true}">
                <div *ngIf="!namecontactValid" class="text-white text-left font-alert">
                  Nombre requerido
                </div>
              </div>
              <div class="col">
                <input type="text" class="form-control" [placeholder]="reservationView?.EVENT.placeholder.strLastname"
                       [(ngModel)]="contact.lastname" oninput="this.value = this.value.toUpperCase()"
                       [ngModelOptions]="{standalone: true}">
                <div *ngIf="!lastnamecontactValid" class="text-white text-left font-alert">
                  Apellido requerido
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleCheck1" [placeholder]="reservationView?.EVENT.placeholder.strMail"
                     [(ngModel)]="contact.email" maxlength="50"
                     pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,3}$"
                     ngModel #emailcontactref="ngModel"
                     oninput="this.value = this.value.toUpperCase()" [ngModelOptions]="{standalone: true}" />
              <div *ngIf="!emailcontactValid" class="text-white text-left font-alert">
                Email requerido
              </div>
              <div *ngIf="emailcontactref.errors &&(emailcontactref.touched || emailcontactref.dirty)" class="text-danger">
                <div [hidden]="!emailcontactref.errors?.pattern" class="text-white font-alert">
                  Email inválido
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleCheck1" [placeholder]="reservationView?.EVENT.placeholder.strMessage"
                        [(ngModel)]="contact.message" [ngModelOptions]="{standalone: true}"></textarea>
              <div *ngIf="!messageValid" class="text-danger text-white font-alert">
                Mensaje requerido
              </div>
            </div>
            <div class="form-group">
              <button type="submit" (click)="sendContactMail()" class="btn pull-right text-white">{{reservationView?.EVENT.contactbuttontxt}}</button>.
            </div>
            <br />
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="container-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1593.8016894548737!2d-77.03773071785413!3d-12.057471262670155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8c6d103eef1%3A0x21e996eeb5d06b7d!2sSheraton+Lima+Hotel+%26+Convention+Center!5e0!3m2!1ses-419!2spe!4v1536113402268" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <section class="container-social">
    <div class="container">
      <div class="col-md-12 text-center">

        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/linkedin.png" alt="Linkedin">
        </a>
        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/facebook.png" alt="Linkedin">
        </a>
        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/youtube.png" alt="Linkedin">
        </a>
        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/twitter.png" alt="Linkedin">
        </a>
      </div>
    </div>

  </section>

</section>


<!--<div #target>Your target</div>-->
