<section class="container-hero">
  <div class="container-fluid p-0 position-relative">
    <img class="img-fluid hero w-100" [src]="sponsors?.EVENT.urlbackgroundimg" alt="First slide">
    <div class="div-center text-center">
      <h1 class="text-white font-lg text-uppercase">{{sponsors?.objSponsorsInfo.title}}</h1>
    </div>
  </div>
</section>

<section class="container-sponsor div-diagonal">
    <div class="container">
      <div class="row">
        <div class=" col-md-6 text-center m-0 p-0 shadow" *ngFor="let item of sponsors?.Groups">
          <div [ngStyle]="{'background-color': item.color}">
            <h2 class="text-white m-0 p-2">
              {{item.groupname}}
            </h2>
          </div>
          <div class="table-client-scroll-y scroll-gold">
            <div class="py-5" *ngFor="let el of item.SponsorInfo">
              <a [href]="el.urlpage">
                <img class="img-fluid" [src]="sponsorsUrl+el.urllogo">
              </a>
            </div>
          </div>

          <!--<table class="table-client-scroll-y" width="100%" cellspacing="0">
            <tbody>
              <tr>
                <td class="square-size-sponsors text-center" [ngStyle]="{'background-color': item.color}">
                  <h5 class="text-white">{{item.groupname}}</h5>
                </td>
              </tr>
              <tr *ngFor="let el of item.SponsorInfo">
                <td class="text-left">
                  <a [href]="el.urlpage">
                    <img width="100%" height="200%" class="img-fluid" [src]="sponsorsUrl+el.urllogo">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>-->

        </div>
      </div>
      <br>
    </div>
  </section>

<section class="container-contact style-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <h2 class="text-white pb-10 font-lg-1 style-subtitle">{{sponsors?.EVENT.contacttitle}}</h2>
          <br>
        </div>
        <div class="col-md-5">
          <p class="text-white"><i class="fa fa-phone mr-2"></i> {{sponsors?.EVENT.contactphone}}</p>
          <p class="text-white"><i class="fa fa-envelope mr-2"></i> {{sponsors?.EVENT.contact}}</p>
          <p class="text-white"><i class="fa fa-map-marker mr-2"></i>{{sponsors?.EVENT.contactplace}}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <form>
            <div class="form-row form-group">
              <div class="col">

                <input type="text" class="form-control" [placeholder]="mapView?.EVENT.placeholder.strName"
                       [(ngModel)]="contact.name" name="name" oninput="this.value = this.value.toUpperCase()"
                       [ngModelOptions]="{standalone: true}">
                <div *ngIf="!namecontactValid" class="text-white text-left font-alert">
                  Nombre requerido
                </div>
              </div>
              <div class="col">
                <input type="text" class="form-control" [placeholder]="sponsors?.EVENT.placeholder.strLastname"
                       [(ngModel)]="contact.lastname" oninput="this.value = this.value.toUpperCase()"
                       [ngModelOptions]="{standalone: true}">
                <div *ngIf="!lastnamecontactValid" class="text-white text-left font-alert">
                  Apellido requerido
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleCheck1" [placeholder]="sponsors?.EVENT.placeholder.strMail"
                     [(ngModel)]="contact.email" maxlength="50"
                     pattern="[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,3}$"
                     ngModel #emailcontactref="ngModel"
                     oninput="this.value = this.value.toUpperCase()" [ngModelOptions]="{standalone: true}" />
              <div *ngIf="!emailcontactValid" class="text-white text-left font-alert">
                Email requerido
              </div>
              <div *ngIf="emailcontactref.errors &&(emailcontactref.touched || emailcontactref.dirty)" class="text-white">
                <div [hidden]="!emailcontactref.errors?.pattern" class="text-left font-alert">
                  Email inválido
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="exampleCheck1" [placeholder]="sponsors?.EVENT.placeholder.strMessage"
                        [(ngModel)]="contact.message" [ngModelOptions]="{standalone: true}"></textarea>
              <div *ngIf="!messageValid" class="text-white text-left font-alert">
                Mensaje requerido
              </div>
            </div>
            <div class="form-group">
              <button type="submit" (click)="sendContactMail()" class="btn btn-orange pull-right text-white">{{sponsors?.EVENT.contactbuttontxt}}</button>.
            </div>
            <br />
          </form>
        </div>
      </div>
    </div>
  </section>

<section class="container-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1593.8016894548737!2d-77.03773071785413!3d-12.057471262670155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c8c6d103eef1%3A0x21e996eeb5d06b7d!2sSheraton+Lima+Hotel+%26+Convention+Center!5e0!3m2!1ses-419!2spe!4v1536113402268" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

<section class="container-social">
    <div class="container">
      <div class="col-md-12 text-center">

        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/linkedin.png" alt="Linkedin">
        </a>
        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/facebook.png" alt="Linkedin">
        </a>
        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/youtube.png" alt="Linkedin">
        </a>
        <a href="#" class="link-social">
          <img class="icons-social" src="../assets/iconos/twitter.png" alt="Linkedin">
        </a>
      </div>
    </div>

  </section>
  <!--<div #target>Your target</div>-->
