$color_orange_light: #ed8600;
$color_lightgrey: #f2efef;
$color_white: #ffffff;
$color_grey: #707070;
$color_orange_dark: #d55709;
$color_green: #5eb243;
$color_orange: #e05701;
$color_purple: #8f338A;
$color_yellow: #F0E164;
$color_red: #e62d20;
$color_wine: #9D3743;
