
<!--<div class="col-md-4 text-center">
  <form class="form-signin">
    <img class="mb-4" src="https://ii.ct-stc.com/3/logos/empresas/2016/11/14/cloud-management-and-systems-94C097BCE26383C3thumbnail.jpeg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Para ingresar</h1>
    <label for="inputEmail" class="sr-only">Email/User</label>
    <input type="text" name="username" id="username" [(ngModel)]="UserModel.username" placeholder="Email o Usuario" required="" class="form-control" autofocus="" maxlength="40">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" [(ngModel)]="UserModel.password" placeholder="Password" required="" class="form-control" autofocus="" maxlength="40">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recuerdame
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="Verify(UserModel)">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">©2018 CMS Cloud Services</p>
  </form>
</div>-->

<label>Hello</label>
